################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Topicos.NetCore.ConsoleApp/bin/Debug/net5.0
/Topicos.NetCore.ConsoleApp/obj
/Topicos.NetCore.Mensajeria.BL/bin/Debug/net5.0
/Topicos.NetCore.Mensajeria.BL/obj
/Topicos.NetCore.ConsoleApp/.vs/Topicos.NetCore.ConsoleApp/v16
/.vs
/Topicos.NetCore.ConsoleApp/.vs/Topicos.NetCore.ConsoleApp/DesignTimeBuild
/Topicos.NetCore.ConsoleApp/Topicos.Netcore.NorthWnd.Model/bin/Debug/net5.0
/Topicos.NetCore.ConsoleApp/Topicos.Netcore.NorthWnd.Model/obj
/Topicos.NetCore.ConsoleApp/Topicos.NetCore.NorthWnd.BL/bin/Debug/net5.0
/Topicos.NetCore.ConsoleApp/Topicos.NetCore.NorthWnd.BL/obj
/Topicos.NetCore.ConsoleApp/.vs/Topicos.NetCore.ConsoleApp/config
/Topicos.NetCore.ConsoleApp/Topicos.Netcore.Api.AdventureWorks/bin/Debug/net5.0
/Topicos.NetCore.ConsoleApp/Topicos.Netcore.Api.AdventureWorks/obj
/Topicos.NetCore.ConsoleApp/Topicos.NetCore.ConsoleApp/bin/Debug/net5.0
/Topicos.NetCore.ConsoleApp/Topicos.NetCore.ConsoleApp/obj
/Topicos.NetCore.ConsoleApp/Topicos.NetCore.Mensajeria.BL/bin/Debug/net5.0
/Topicos.NetCore.ConsoleApp/Topicos.NetCore.Mensajeria.BL/obj
